

<!DOCTYPE html>
<html>
<head>
<title>Newsfeed for Kids</title>
</head>
<body>
<h1>Newsfeed for Kids</h1>
<nav>
<a href="/">Home</a>
<a href="/articles">Articles</a>
<a href="/login">Login</a>
<a href="/signup">Sign Up</a>
</nav>
<main>
<h2>Welcome to the Newsfeed for Kids!</h2>
<p>Here you can find news articles that are written specifically for kids. We have articles on a variety of topics, including science, history, geography, and more.</p>
<p>We hope you enjoy reading our articles! If you have any questions, please feel free to contact us.</p>
</main>
</body>
</html>


