

<!DOCTYPE html>
<html>
<head>
<title>Newsfeed for Kids - Login</title>
</head>
<body>
<h1>Newsfeed for Kids - Login</h1>
<nav>
<a href="/">Home</a>
<a href="/articles">Articles</a>
<a href="/login">Login</a>
<a href="/signup">Sign Up</a>
</nav>
<main>
<form action="/login" method="post">
<label for="username">Username:</label><br>
<input type="text" id="username" name="username"><br>
<label for="password">Password:</label><br>
<input type="password" id="password" name="password"><br><br>
<input type="submit" value="Login">
</form>
</main>
</body>
</html>


