

<!DOCTYPE html>
<html>
<head>
<title>Add Expense</title>
</head>
<body>
<h1>Add Expense</h1>
<form action="/add_expense" method="post">
<label for="name">Name:</label><br>
<input type="text" id="name" name="name"><br>
<label for="amount">Amount:</label><br>
<input type="number" id="amount" name="amount"><br>
<label for="category_id">Category:</label><br>
<select id="category_id" name="category_id">
{% for category in categories %}
<option value="{{ category.id }}">{{ category.name }}</option>
{% endfor %}
</select><br><br>
<input type="submit" value="Submit">
</form>
</body>
</html>


