

<!DOCTYPE html>
<html>
<head>
<title>About Teen Music News</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<h1>About Teen Music News</h1>
<p>Teen Music News is a website that provides news about musical events for teenagers. We cover everything from new album releases to upcoming concerts.</p>
<p>We are passionate about music and we believe that teenagers should have access to the latest news about their favorite artists.</p>
<p>We hope you enjoy our website and that you find it to be a valuable resource.</p>
</body>
</html>

