

<!DOCTYPE html>
<html>
<head>
<title>Add Expense</title>
</head>
<body>
<h1>Add Expense</h1>
<form action="/add" method="post">
<label for="name">Name:</label>
<input type="text" name="name" id="name">
<br>
<label for="category">Category:</label>
<input type="text" name="category" id="category">
<br>
<label for="amount">Amount:</label>
<input type="number" name="amount" id="amount">
<br>
<label for="date">Date:</label>
<input type="date" name="date" id="date">
<br>
<input type="submit" value="Add">
</form>
</body>
</html>


