

<!DOCTYPE html>
<html>
<head>
<title>Add Expense</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Add Expense</h1>
<form action="{{ url_for('add_expense') }}" method="post">
<label for="amount">Amount:</label>
<input type="text" name="amount">
<br>
<label for="category">Category:</label>
<input type="text" name="category">
<br>
<label for="date">Date:</label>
<input type="date" name="date">
<br>
<input type="submit" value="Add Expense">
</form>
</body>
</html>


