

<!DOCTYPE html>
<html>
<head>
<title>Spanish Teaching Website</title>
</head>
<body>
<h1>Welcome to the Spanish Teaching Website!</h1>
<p>This website is designed to help you learn Spanish. It includes lessons on basic Spanish grammar, vocabulary lists, conversation practice exercises, and links to other Spanish learning resources.</p>
<p>To get started, click on one of the links below.</p>
<ul>
<li><a href="/grammar">Basic Spanish Grammar</a></li>
<li><a href="/vocabulary">Spanish Vocabulary Lists</a></li>
<li><a href="/conversation">Spanish Conversation Practice Exercises</a></li>
<li><a href="/resources">Other Spanish Learning Resources</a></li>
</ul>
</body>
</html>


