

<!DOCTYPE html>
<html>
<head>
<title>BigQuery Column Descriptions</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1>BigQuery Column Descriptions</h1>
<form action="/" method="post">
<label for="project">Project:</label>
<input type="text" name="project">
<br>
<label for="dataset">Dataset:</label>
<input type="text" name="dataset">
<br>
<label for="table">Table:</label>
<input type="text" name="table">
<br>
<input type="submit" value="Generate Column Descriptions">
</form>
</body>
</html>


